.{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#content{
    width: 70%;
    margin-left: 15%;
}
.myName{
    width: 100%;
    height: 80px;
    background-color: lightseagreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#row-2{
    width: 100%;
    height: 700px;
    background-color: lightgrey;
}
#name-me{
    font-size: 35px;
    padding-top: 70px;
}
.address{
    border-radius: 5px;
    border: 1px solid lightseagreen;
    width: 30%;
    height: 70%;
    background-color: lightgrey;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;

}
#diachi{
    width: 100%;
    height: 70px;
}
i{
    padding-right: 10px;
    padding-top: 10px;
    color: lightseagreen;
}
.veToi{
    width: 50%;
    height: 100%;
    float: left;
}
#info{
    width: 100%;
    height: 630px;
}
.a{
    width: 100%;
    height: 30%;
    margin-top: 1px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#kinang{
    margin-top: 5px;
}
.b{
    width: 100%;
    height: 30%;
    margin-top: 1px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 75%;
}
.b table td {
    border: 1px solid lightseagreen;
    width: 100%;
    height: 35px;
}
#footer{
    width: 100%;
    height: 250px;
    background-color: lightgray;
}
.contact{
    width: 100%;
    height: 100%;
    float: left;
}
img{
    width: 15%;
    height: auto;
    margin-top: 7px;
    margin-left: 20px;
}
#footer{
    width: 100%;
    height: 100px;
}
#info-contact{
    border: 1px solid rgb(37, 70, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}